PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=production
ALLOWED_EMAIL_PROVIDERS=gmail.com,outlook.com,hotmail.com,yahoo.com,yahoo.fr,live.com
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_16_char_gmail_app_password
SMTP_FROM_EMAIL=your_gmail_address@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
BREVO_API_KEY=your_brevo_api_key
BREVO_FROM_EMAIL=your_verified_sender@example.com
BREVO_FROM_NAME=GamePlug Security
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=noreply@yourdomain.com
